---

import View from "../components/Video/View.jsx";
---
<section class="section">
    <View client:only="react"/>
</section>
<style>
    .section{
       width: 100vw;
       height:100vh;
       /* background-color: red; */
    }
</style>