
<section class="promotion">
    <div class="promo">
        <p>powered by agora</p>
    </div>
</section>
<style>
    .promotion{
        width: 100%;
        background-color: rgb(252, 249, 249);
        height: 2rem;
        bottom: 0;
        align-items: center;
        display: flex;
        padding-bottom: 1rem;
    }
    .promo{
        
        text-align: center;
        width: 100%;
    }
</style>